body {
    background-color: #282725 !important;
    color: #e1e1e1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;
}

strong,
b {
    color: #ffb542 !important;
}

.container {
    max-width: 700px;
    margin: 0 auto;
}

h1 {
    margin-bottom: 20px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    letter-spacing: 0.05em;
    text-shadow: 0.05em 0.075em 0.15em rgb(0, 0, 0);
}

h3 {
    margin-top: 0;
    margin-bottom: 12px;
    color: #ffb542;
}

/* Card */
.card {
    padding: 0.8em 1em;
    border-radius: 8px;
    border: 1px solid transparent;
    margin: 0.5em 0;
    outline: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.13);
}

.card {
    background-color: rgba(255, 255, 255, 0.0512);
}

/* Form */
.checkbox-container {
    display: block;
    margin-bottom: 10px;
    cursor: pointer;
}

.checkbox-container input {
    accent-color: hsl(199, 83%, 45%);
}

.form-group input {
    padding: 12px;
    margin-top: 4px;
    margin-bottom: 16px;
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 181, 66, 0.3);
    border-radius: 6px;
    color: #fff;
    font-size: 1rem;
}

.form-group input:focus,
input:hover {
    outline: none;
    border: 1px solid #ffb542;
}

/* Button */
button {
    display: flex;
    justify-content: center;
    width: 50%;
    padding: 12px;
    background-color: #ffb542;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    font-size: 1.3rem;
    cursor: pointer;
    transition: opacity 0.2s, transform 0.1s;
    margin: 10px auto 15px auto;
}

button:not(:disabled):hover {
    opacity: 0.9;
}

button i {
    transition: transform 0.2s ease;
}

button:not(:disabled):hover i {
    transform: scale(1.2);
}

button:disabled {
    background-color: #555;
    color: #888;
    cursor: not-allowed;
}

/* Progress bar */
.progress-bar-container {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    height: 10px;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 12px;
}

.progress-bar {
    width: 0%;
    height: 100%;
    background-color: #71e075;
    transition: width 0.3s ease;
}

/* Browse button */
.input-with-button {
    position: relative;
    display: flex;
    align-items: center;
}

.input-with-button input {
    flex: 1;
    margin-bottom: 0;
}

.browse-btn {
    position: absolute;
    right: 12px;
    width: auto;
    margin-top: 18px;
    padding: 0;
    cursor: pointer;
    background: transparent;
    color: #888;
    transition: color 0.2s ease, transform 0.2s ease;
}

.browse-btn:hover {
    color: #fff;
    transform: scale(1.1);
}

/* Links */
.links-container {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 10px;
}

.links-icons {
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 1.75rem;
}

.links-icons a {
    color: #888;
    transition: color 0.2s ease, transform 0.2s ease;
}

.links-icons a:hover {
    color: #fff;
    transform: scale(1.2);
}

a {
    color: rgb(101, 206, 253);
    text-decoration: none;
}

a:hover {
    color: hsl(199, 83%, 45%);
}

/* Log */
.log-container {
    resize: none;
    box-sizing: border-box;
    width: 100%;
    height: 180px;
    font-family: monospace;
    font-size: 0.9em;
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid #ffb542;
    color: #fff;
    overflow-y: auto;
    padding: 0.8em 1em;
    border-radius: 8px;
    outline: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.13);
}

.log-error {
    color: red;
    font-weight: bold;
}

.log-warning {
    color: darkgoldenrod;
    font-weight: bold;
}

.log-success {
    color: green;
    font-weight: bold;
}

/* Scrollbar */
.log-container {
    scrollbar-width: thin;
    scrollbar-color: #555 rgba(0, 0, 0, 0.3);
}

.log-container::-webkit-scrollbar {
    width: 12px;
}

.log-container::-webkit-scrollbar-track {
    background: transparent;
}

.log-container::-webkit-scrollbar-thumb {
    background-color: rgba(143, 143, 143, 0.63);
    border-radius: 20px;
}

.log-container::-webkit-scrollbar-thumb:hover {
    background-color: rgba(240, 240, 240, 0.63);
    border-radius: 20px;
    scale: 10%;
}